@import './colours';
@import './margins';

.container {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: $spacing-small $spacing-small $spacing-medium;
}

.hero {
  display: flex;
  min-height: 75vh;
  padding: 0 $spacing-small 0;
  position: relative;
  width: 100%;
}

.image {
  background: url('/img/stig.jpg') center left no-repeat fixed;
  background-size: cover;
  bottom: 0;
  filter: blur(1px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.textBox {
  background-color: rgba($dark-grey, 0.4);
  display: block;
  margin: $spacing-small 0 0 0;
  max-height: 4rem;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.name {
  color: $white;
  line-height: 2rem;
  margin: auto;
}
