@import './colours';
@import './margins';

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: $spacing-small $spacing-small 5rem;
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  min-height: 75vh;
  padding: 0 $spacing-small 0;
  position: relative;
  width: 100%;
}

.image {
  background: url('/img/stig.jpg') center left no-repeat fixed;
  background-size: cover;
  bottom: 0;
  filter: blur(1px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.name {
  max-height: 2rem;
  position: sticky;
  top: 0;
}
